@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* declaring the css variables colors */
:root {
  --color-background: #fffcfc;
  --color-primary: #2f4f4f;
  --color-primary-accent: darkslateblue;
  --color-button: #758CDF;
  --color-button-hover: #324caa;
  --color-button-text: #fffcfc;
  --color-anchor: #e3870f;
  --color-nav-hover: #fa0e0e;
}

[data-theme="dark"] {
  --color-primary: #e8e8e8;
  --color-background: #252b36;
}

html,
body {
  background: var(--color-background);
  color: var(--color-primary);
  font-size: 16px;
  padding: 0;
  margin: 0;
}

/* HERO */

.lineHeight {
  line-height: 2.3rem;
}

@media(min-width:700px) {
  .lineHeight {
    line-height: 4rem !important;
  }
}

media .linkAnimate {
  display: inline-block;
  color: var(--color-primary);
  text-decoration: none;
}

.linkAnimate::after {
  content: '';
  display: block;
  width: 4px;
  height: 50px;
  background: linear-gradient(to right, #758cdf, #758cdf63, #758cdf1b);
  margin-top: -40px;
  margin-left: -10px;
  transition: width .3s;
}

.linkAnimate:hover::after {
  width: 125%;
  transition: width .3s;
}