@tailwind base;
@tailwind components;
@tailwind utilities;


/**
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/
@layer base {
  body {
    margin: 0;
    padding: 0;
  }
}

/* declaring the css variables colors */
:root {
  --color-background: #fffcfc;
  --color-primary: #2f4f4f;
  --color-primary-accent: darkslateblue;
  --color-button: #758CDF;
  --color-button-hover: #324caa;
  --color-button-text: #fffcfc;
  --color-anchor: #e3870f;
  --color-nav-hover: #fa0e0e;
}

[data-theme="dark"] {
  --color-primary:#b9b9b9b6;
  /**
  --color-primary: #e8e8e8;
  --color-background: #252b36;37474F*/
  --color-background: #37474F;
}

html,
body {
  background: var(--color-background);
  color: var(--color-primary);
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.text-primary {
  color: var(--color-primary);
}

/* HERO */

.lineHeight {
  line-height: 2.3rem;
}

@media(min-width:700px) {
  .lineHeight {
    line-height: 4rem !important;
  }
}